@font-face {
  font-family: 'existencelight';
  src: url("../fonts/Existence Light/existence-light.eot");
  src: url("../fonts/Existence Light/existence-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Existence Light/existence-light.woff2") format("woff2"), url("../fonts/Existence Light/existence-light.woff") format("woff"), url("../fonts/Existence Light/existence-light.ttf") format("truetype"), url("../fonts/Existence Light/existence-light.svg#existencelight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titilliumlight';
  src: url("../fonts/Titillium/titillium-light-webfont.eot");
  src: url("../fonts/Titillium/titillium-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Titillium/titillium-light-webfont.woff2") format("woff2"), url("../fonts/Titillium/titillium-light-webfont.woff") format("woff"), url("../fonts/Titillium/titillium-light-webfont.ttf") format("truetype"), url("../fonts/Titillium/titillium-light-webfont.svg#titilliumlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/Lato/lato-regular.eot");
  src: url("../fonts/Lato/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/lato-regular.woff2") format("woff2"), url("../fonts/Lato/lato-regular.woff") format("woff"), url("../fonts/Lato/lato-regular.ttf") format("truetype"), url("../fonts/Lato/lato-regular.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.cls-1, .cls-2, .cls-3 {
  fill: #fff;
}

.cls-1 {
  fill-opacity: 0.1;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 4px;
}

.cls-1, .cls-2 {
  fill-rule: evenodd;
}

.cls-3 {
  font-size: 18px;
  text-anchor: middle;
  font-family: 'latoregular';
}

.cls-4 {
  fill: #9f449b;
  fill-opacity: 0;
  stroke: #9f449b;
  stroke-linejoin: round;
  stroke-width: 5px;
  fill-rule: evenodd;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.invisible {
  display: none;
}

.fullScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.9);
}

.fullScreen img {
  display: block;
  height: 90%;
  margin: 0 auto;
  z-index: 2;
}

.fullScreen .closeButton {
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.fullScreen .closeButton:hover {
  background-color: black;
}

body {
  font-family: 'existencelight', sans-serif;
}

header {
  width: 100%;
  background-image: url("../images/headerfoto.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'existencelight', sans-serif;
}

header .grid-container {
  padding-bottom: 3rem;
}

header .grid-container .header-title {
  margin: 0 auto;
}

header .grid-container .header-title h1 {
  font-size: 4rem;
  margin-top: 50px;
}

header .grid-container .header-title h1 span {
  color: #9F449B;
}

header .grid-container .header-title h4 {
  font-size: 2rem;
  margin-top: 20px;
}

header .grid-container .header-title p {
  margin-top: 15px;
}

header .grid-container .header-menu-arrow {
  margin: 0 auto;
}

header .grid-container .header-menu-arrow .col-1 {
  margin: 0 auto;
}

.small-hex svg {
  width: 10%;
}

.width-100 {
  width: 100%;
  background-color: white;
}

nav {
  background-color: white;
  z-index: 5;
}

nav .menu-bg {
  background-color: white;
  width: 100%;
}

nav .grid-container .nav {
  vertical-align: bottom;
  background-color: white;
  padding-top: 15px;
}

nav .grid-container .nav .nav-logo {
  font-size: 1.5rem;
}

nav .grid-container .nav .nav-logo span {
  color: #9F449B;
}

nav .grid-container .nav .nav-menu {
  text-align: right;
  background-color: white;
}

nav .grid-container .nav .nav-menu ul {
  padding-top: 9px;
}

nav .grid-container .nav .nav-menu ul li {
  display: inline-block;
  margin-left: 5px;
}

nav .grid-container .nav .nav-menu ul li span {
  color: #9F449B;
}

.blue-background {
  background-color: #EEEEEE;
}

.blue-background .grid-container {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.blue-background .grid-container .col-3 .col-8 {
  float: none;
  margin: 0 auto;
}

.blue-background .grid-container .col-3 .col-8 h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.blue-background .grid-container .col-3 .col-8 p {
  font-size: 0.9rem;
  line-height: 1.8rem;
}

.about-us {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.about-us .about-us-title {
  text-align: center;
  padding-bottom: 2rem;
}

.about-us .about-us-title h1 {
  z-index: 0;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 4rem;
}

.about-us .about-us-title h1 span {
  color: #9F449B;
}

.about-us .about-us-title h1:before {
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #9F449B;
  border-left: 1px solid #9F449B;
  display: block;
  left: -20px;
  top: 80px;
}

.about-us .about-us-title h1:after {
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid #9F449B;
  border-right: 1px solid #9F449B;
  display: block;
  left: 245px;
  top: -80px;
}

.about-us .about-us-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.about-us .about-us-content .about-us-img {
  width: 50%;
}

.about-us .about-us-content .about-us-right {
  width: 50%;
  margin-left: 30px;
}

.about-us .about-us-content .about-us-right .about-us-text {
  float: right;
  line-height: 2rem;
  font-size: 0.8rem;
}

.about-us .about-us-content .about-us-right .about-us-button {
  margin-top: 20px;
}

.about-us .about-us-content .about-us-right .about-us-button a {
  background-color: #9F449B;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  line-height: 70px;
  padding: 15px 25px;
}

.intersection {
  background-image: url("C:/Users/Kasia/Desktop/workspace/Bhagaskara/images/sectionfoto.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.intersection h1 {
  font-size: 4rem;
  margin-top: 20px;
}

.our-team {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.our-team h1 {
  padding-bottom: 5rem;
  z-index: 0;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 4rem;
}

.our-team h1 span {
  color: #9F449B;
}

.our-team h1:before {
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #9F449B;
  border-left: 1px solid #9F449B;
  display: block;
  left: -20px;
  top: 80px;
}

.our-team h1:after {
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid #9F449B;
  border-right: 1px solid #9F449B;
  display: block;
  left: 260px;
  top: -80px;
}

.our-team .arrows {
  padding-bottom: 5rem;
}

.our-team .arrows #arrow_left {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.our-team .people {
  float: none;
  margin: 0 auto;
}

.our-team .people .person {
  float: none;
  width: 70%;
  margin: 0 auto;
  font-family: "titilliumlight";
  color: #484848;
}

.our-team .people .person .name {
  margin-top: 85px;
  font-weight: bolder;
}

.our-team .people .person .position {
  margin-top: 10px;
  font-size: 0.9rem;
  margin-bottom: 25px;
}

.our-team .people .person .socialmedia img {
  width: 20%;
}

.our-skills {
  text-align: center;
  padding-bottom: 7rem;
}

.our-skills h1 {
  z-index: 0;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 4rem;
}

.our-skills h1 span {
  color: #9F449B;
}

.our-skills h1:before {
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #9F449B;
  border-left: 1px solid #9F449B;
  display: block;
  left: -20px;
  top: 80px;
}

.our-skills h1:after {
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid #9F449B;
  border-right: 1px solid #9F449B;
  display: block;
  left: 260px;
  top: -85px;
}

.our-skills .our-skills-panel-top {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.our-skills .col-5 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.our-skills .col-5 .panel-text {
  display: flex;
  justify-content: space-between;
}

.our-skills .col-5 .panel-text p {
  font-family: "titilliumlight";
}

.our-skills .col-5 .panel-text p span {
  font-weight: bolder;
}

.our-skills .col-5 .panel-box {
  background-color: #F0f0f0;
  height: 12px;
  font-family: "titilliumlight";
}

.slider-section {
  background-color: #EEEEEE;
}

.slider-section .slider-numbers {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.slider-section .slider-numbers p {
  text-align: center;
  font-size: 0.75rem;
}

.slider-section .slider-numbers p span {
  font-size: 3rem;
}

.slider-section .slider-quotes .col-10 {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.slider-section .slider-quotes img {
  width: 25%;
}

.slider-section .slider-quotes p {
  padding-top: 2rem;
}

.slider-section .slider-quotes .slider-name {
  padding: 20px 0;
}

.slider-section .slider-quotes .slider-dot-div {
  padding-bottom: 8rem;
}

.slider-section .slider-quotes .slider-dot-div .slider-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 0.5px solid silver;
}

.our-portfolio {
  max-width: 1220px;
  background-color: white;
  margin: 0 auto;
  margin-top: -4rem;
  padding-top: 6rem;
  text-align: center;
}

.our-portfolio h1 {
  z-index: 0;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 4rem;
}

.our-portfolio h1 span {
  color: #9F449B;
}

.our-portfolio h1:before {
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #9F449B;
  border-left: 1px solid #9F449B;
  display: block;
  left: -20px;
  top: 80px;
}

.our-portfolio h1:after {
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid #9F449B;
  border-right: 1px solid #9F449B;
  display: block;
  left: 350px;
  top: -85px;
}

.portfolio-box {
  font-family: Helvetica;
  z-index: 0;
}

.portfolio-box .portfolio-filter-icons {
  text-align: center;
  padding: 60px 0;
}

.portfolio-box .portfolio-filter-icons .portfolio-filter-icon-1 {
  width: 84px;
  height: 38px;
  border: 1px solid #9F449B;
  display: inline-block;
  border-radius: 5px;
  padding-top: 10px;
}

.portfolio-box .portfolio-filter-icons .portfolio-filter-icon-2 {
  width: 84px;
  height: 38px;
  border: 1px solid #9F449B;
  display: inline-block;
  border-radius: 5px;
  padding-top: 10px;
}

.portfolio-box .portfolio-filter-icons .portfolio-filter-icon-3 {
  width: 84px;
  height: 38px;
  border: 1px solid #9F449B;
  display: inline-block;
  border-radius: 5px;
  padding-top: 10px;
}

.portfolio-box .portfolio-filter-icons .portfolio-filter-icon-4 {
  width: 84px;
  height: 38px;
  border: 1px solid #9F449B;
  display: inline-block;
  border-radius: 5px;
  padding-top: 10px;
}

.portfolio-box .portfolio-filter-icons div:hover {
  background-color: #9F449B;
  color: white;
}

.portfolio-box .portfolio-photos-top div.col-4 img:hover, .portfolio-box .portfolio-photos-bottom div.col-4 img:hover {
  opacity: 0.5;
}

.portfolio-box .portfolio-photos-top div.col-4 p, .portfolio-box .portfolio-photos-bottom div.col-4 p {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.portfolio-box .portfolio-photos-top div.col-4 p span, .portfolio-box .portfolio-photos-bottom div.col-4 p span {
  opacity: 0.75;
  font-size: 0.75rem;
}

.portfolio-box .portfolio-watch-more {
  padding-top: 20px;
  padding-bottom: 80px;
}

.portfolio-box .portfolio-watch-more .portfolio-watch-more-button {
  margin: 0 auto;
  background-color: #9F449B;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 20%;
  text-align: center;
  padding-top: 15px;
}

.form-section .col-12 {
  text-align: center;
  padding-bottom: 5rem;
}

.form-section .col-12 h1 {
  z-index: 0;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 4rem;
}

.form-section .col-12 h1 span {
  color: #9F449B;
}

.form-section .col-12 h1:before {
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #9F449B;
  border-left: 1px solid #9F449B;
  display: block;
  left: -20px;
  top: 80px;
}

.form-section .col-12 h1:after {
  position: relative;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid #9F449B;
  border-right: 1px solid #9F449B;
  display: block;
  left: 330px;
  top: -85px;
}

.form-section .col-12 h1 span {
  color: #9F449B;
}

.form-section form input[type=text], .form-section form input[type=email], .form-section form textarea {
  width: 90%;
  margin-bottom: 10px;
  margin-left: 10px;
  line-height: 2rem;
  text-indent: 7px;
}

.form-section form textarea {
  height: 210px;
}

.form-section form input[type=submit] {
  background-color: #9F449B;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
  margin-left: 10px;
  font-size: 0.75rem;
  border: none;
}

.form-section .col-6 .form-section-upper-text {
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-family: Helvetica;
}

.form-section .col-6 .form-section-address {
  font-family: Helvetica;
  font-weight: bold;
}

.form-section .col-6 ul {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-section input[type=submit] {
  background-color: #9F449B;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
  margin-left: 10px;
  font-size: 0.75rem;
}

.form-section h4 {
  font-size: 3rem;
  padding-top: 15rem;
}

.form-section h4 span {
  color: #9F449B;
}

.grid-container {
  max-width: 1170px;
  margin: 0 auto;
}

.grid-container .row::after, .grid-container .row::before {
  content: '';
  display: table;
  clear: both;
}

.grid-container [class*='col-'] {
  float: left;
  min-height: 1px;
}

.grid-container .col-1 {
  width: 8.33333%;
}

.grid-container .col-2 {
  width: 16.66667%;
}

.grid-container .col-3 {
  width: 25%;
}

.grid-container .col-4 {
  width: 33.33333%;
}

.grid-container .col-5 {
  width: 41.66667%;
}

.grid-container .col-6 {
  width: 50%;
}

.grid-container .col-7 {
  width: 58.33333%;
}

.grid-container .col-8 {
  width: 66.66667%;
}

.grid-container .col-9 {
  width: 75%;
}

.grid-container .col-10 {
  width: 83.33333%;
}

.grid-container .col-11 {
  width: 91.66667%;
}

.grid-container .col-12 {
  width: 100%;
}

.grid-container .width-100 {
  width: 100%;
}
