.about-us {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .about-us-title {
    text-align: center;
    padding-bottom: 2rem;
    h1 {
      @include title();
      @include quote-marks(-20px, 80px, 100%, -80px);
    }
  }
  .about-us-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    .about-us-img {
      width: 50%;
    }
    .about-us-right {
      width: 50%;
      margin-left: 30px;
    .about-us-text{
        float: right;
        line-height: 2rem;
        font-size: 1.25rem;
    }
    .about-us-button {
      margin-top: 20px;
      a {
        @include button();
        line-height:70px;
        padding: 15px 25px;
        }
      }
    }
  }
}  
