.about-us {
    padding-top: 2rem;
    padding-bottom: 5rem;
  .about-us-title {
    text-align: center;
    padding-bottom: 2rem;
    h1 {
      @include title();
      @include quote-marks(-20px, 80px, 245px, -80px);
      }
  }
  .about-us-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    .about-us-img {
      width: 50%;
    }
    .about-us-right {
      width: 50%;
      margin-left: 30px; //to jest to miedzy columnami 
      .about-us-text{
        float: right;
        line-height: 2rem;
        font-size: 0.8rem;
      }
      .about-us-button {
        margin-top: 20px;
        a {//czy link ma byc responsywny? niejest i glupio to wyglada
          @include button();
          line-height:70px;
          padding: 15px 25px;
        }
      }
    }
  }
}
//tu bym wolala zrobic tak zeby
//prawa strona zmniejszala sie tak samo jak lewa
