$columns_amount: 12;
$width: (100% / $columns_amount);

.grid-container {
  max-width: 1170px;
  margin: 0 auto;
  .row::after, .row::before {
    content: '';
    display: table;
    clear: both;
  }
  [class*='col-']{
    float: left;
    min-height: 1px;
  }
  @for $i from 1 through $columns_amount {
    .col-#{$i} { width: $width * $i }
  }
  .width-100 {
    width: 100%;
  }
}
