body {
    font-family: 'existencelight', sans-serif;
}




header {
  width: 100%;
  background-image: url("../images/headerfoto.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'existencelight', sans-serif;
  .grid-container {
    padding-bottom: 3rem;
    .header-title {
      margin: 0 auto;
      h1 {
        font-size: 4rem;
        margin-top: 50px; //czy to ma byc w pikselach, czy jakos inaczej to opuscic
        span {
          color: $select-color;
        }
      }
      h4 {
        font-size: 2rem;
        margin-top: 20px;
      }
      p {
        margin-top: 15px;
      }
    }
    .header-menu-arrow {
      margin: 0 auto;
      .col-1 {
        margin: 0 auto;
      }
    }
  }
}
.small-hex svg {
  width:10%;
}
