.intersection {
  background-image: url('../images/sectionfoto.jpg');
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
  h1 {
    font-size: $h1-font-size;
    margin-top: 20px;
  }
}
