@media only screen and (max-width: 500px) {
  // header {
  //   height: 100vh;
  // }
  // html{
  //   font-size: 8px;}
  .hide-mobile {//section in header
    display: none !important;
  }
  .sticky {
    -webkit-box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.75);
  }
  .blue-background {//section one
    .grid-container{
      .col-3 {
        width: 100%;
        float: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 10px;
        svg {
          display: inline-block;
          width: 40% ;
        }
        .mobile-inline-block {
          display: inline-block;
          width: 58%;
          align-self: center;
          h2 {
            min-height: 0;
            padding-top: 0;
          }
        }
      }
    }
  }
  .about-us{//about us
    .about-us-title {
      h1 {
        font-size: $mobile-h1-font-size;
      }
    }
  .about-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 0 10px;
    .about-us-img {
      width: 100%;
      padding: 0 20px;
    }
    .about-us-right{
      width: 100%;
      .about-us-text {
        font-size: 1.25rem;
        text-align: justify;
        }
      }
    }
  }
  .intersection {
    h1 {
      font-size: $mobile-intersection-font-size;
    }
  }
  .our-team {
    h1 {
      font-size: $mobile-h1-font-size;
    }
    .members-div {
      .people {
        .actors {
          opacity: 1;
          width: 100%;
          height: 85vh;
          .avatar {
            width: 50%;
          }
          .name {
            padding-top: 15px;
          }
          .show-mobile-redford {
            display: block;
            div {
              @include mobile-skill-panels(90%, 95%, 70%, 75%);
            }
          }
          .show-mobile-newman {
            display: block;
            div {
              @include mobile-skill-panels(95%, 80%, 65%, 85%);
            }
          }
          .show-mobile-nolte {
            display: block;
            div {
              @include mobile-skill-panels(85%, 90%, 85%, 70%);
            }
          }
          .socialmedia {
            img {
              padding-top: 10px;
              width: 10%;
              }
            }
          }
        }
      }
    } //end of our-team
    .our-skills {
      display: none;
      }//end of our-skills
    .slider-section {
      .slider-numbers {
        p {
          span {
            font-size: 1.5rem;
          }
        }
      }
      .slider-quotes {
        #arrow_left, #arrow_right {
          width: 10%;
          top: 0;
         }
         #arrow_right {
          left:85%;
         }
       }
     }
     .our-portfolio {
       h1 {
         font-size: 3rem;
       }
     }
     .portfolio-box {
       .mobile-hide {
         display: none;
       }
      .portfolio-photos-top, .portfolio-photos-bottom {
        div.col-4 {
          p {
            font-size: 0.8rem;
          }
        }
      }
      .portfolio-watch-more {
        a {
          .portfolio-watch-more-button {
          // padding-top: 10px; for even slimmer button
            width: 35%;
          }
        }
      }
    }
    .form-section {
      [class*='col-'] {
        width: 100%;
        float: none;
        padding-bottom: 1rem;
        h1 {
          font-size: 3rem;
        }
      }
      .col-6{
        .form-section-upper-text, .form-section-address, ul {
          padding: 20px 10px;
          text-align: justify;
        }
        ul {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
