.width-100 {
  width: 100%;
  background-color: white;
}


nav {
  background-color: white;
  z-index: 5;
  .menu-bg {
    background-color: white;
    width: 100%;
  }
  .grid-container {

  .nav {
    vertical-align: bottom;
    background-color: white;
    padding-top: 15px;

  .nav-logo {
    a {
      @include link-hover();
      @include logo(1.5rem);
      text-decoration: none;
    }
  }
  .nav-menu {
    text-align: right;
    // padding-top: 10px;
    background-color: white;
    ul {
      padding-top: 9px;
      li {
        display: inline-block;
        margin-left: 5px;
        a {
          @include link-hover;
          color: black;
          }
         }
       }
      }
    }
  }
}
