.width-100 {
  width: 100%;
  background-color: white;
}


nav {
  background-color: white;
  z-index: 1;
  .grid-container {
  // padding: 20px 0 20px 0;
  height: 70px; //to jest potrzebne do sticky menu
  .nav {
    vertical-align: bottom;
    background-color: white;
  .nav-logo {
    @include logo(1.5rem);
  }
  .nav-menu {
    text-align: right;
    // padding-top: 10px;
    ul {
      li {
        display: inline-block;
        margin-left: 5px;
        span {
          color: $select-color;
        }
        }
      }
    }
  }
}
}
