.our-skills {
  text-align: center;
  .our-skills-panel-top {
    display: flex;
    justify-content: space-between;
  }
  .col-5 {
      @include skill-panel;
      padding-top: 1rem;
      padding-bottom: 1rem;
      .panel-box {
        display: flex;
        justify-content: flex-start;
        span {
          background-color: $select-color;
          height: 100%;
      }
    }
  }
}
