.our-team {
  padding-top: 5rem;
  padding-bottom: 1rem;
  text-align: center;
  h1 {
    padding-bottom: 5rem;
    @include title();
    @include quote-marks(-20px, 80px, 100%, -80px);
    }
    .members-div {
      .people{
        float: none;
        margin: 0 auto;
        .actors {
          font-family: $other-font-family;
          color: #484848;
          opacity:0.5;
          transition: 1s;
          .avatar {
            float: none;
            width: 70%;
            margin: 0 auto;
          }
          .name {
            padding-top:3rem;;
           // font-family: Helvetica;
           font-weight: bolder;
           }
           .position {
             margin-top: 10px;
             font-size: 0.9rem;
             margin-bottom: 25px;
             }
             .show-mobile-redford {
               display: none;
             }
             .show-mobile-newman {
               display: none;
             }
             .show-mobile-nolte {
               display: none;
             }
             .socialmedia {
               img {
                 width: 20%;
                }
             }
          }
       }
    }
 }
