.our-skills {
  text-align: center;
  padding-bottom: 7rem;
  h1 {
    @include title();
    @include quote-marks(-20px, 80px, 260px, -85px);

    }
  .our-skills-panel-top {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    }
  .col-5 {
      @include skill-panel;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
}
