
//STICKY MENU

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 50px 0px rgba(0,0,0,0.75);
  z-index: 100;
}



.invisible {
  display: none;
}

//clases for the PORTFOLIO GALLERY
  .fullScreen{
    position: fixed;
    // margin: 0 auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background:rgba(black,0.9);
     img{
      display: block;
      height: 90%;
      margin: 0 auto;
      z-index: 2;
    }
    .closeButton {
      display: block;
      margin: 0 auto;
      margin-top: 0.5rem;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: rgba(black,0.3);
      &:hover {
        background-color: black;
        }
      }
    }
