.slider-section {
  background-color: #EEEEEE;
  .slider-numbers {
    padding-top: 5rem;
    padding-bottom: 7rem;
    p {
      text-align: center;
      font-size: 0.75rem;
      span {
        font-size: 3rem;
      }
    }
  }
  .slider-quotes {
    position: relative;
    #arrow_left, #arrow_right {
      position: absolute;
      z-index: 1;
    }
    #arrow_left {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      top:17%;
      left:5%;
      }
    #arrow_right {
      top: 17%;
      left: 89%;

    }

    .visible-slider {
      z-index: 0;
      width: 100%;
      // float: none;
      // margin: 0 auto;
      // text-align: center;
      // padding: 0 2.5rem;
      overflow: hidden;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
        // width: 2500px;
        // overflow: hidden;
        li{
          margin: 0;
          // border:1px solid red;
          float: left;
          text-align: center;
       img {
         width: 25%;
       }

       p {
         padding-top: 2rem;
       }
       .slider-name {
         padding: 20px 0;
       }
     }
   }
 }
       .slider-dot-div {
         float: none;
         margin: 0 auto;
         text-align: center;
         padding: 0 2.5rem;
         padding-bottom: 8rem;
         .slider-dot {
           display: inline-block;
           width: 6px;
           height: 6px;
           border-radius: 50%;
           border:0.5px solid silver;
       }
     }
    }
}
