.slider-section {
  background-color: #EEEEEE;
  .slider-numbers {
    padding-top: 5rem;
    padding-bottom: 7rem;
    p {
      text-align: center;
      font-size: 0.75rem;
      span {
        font-size: 3rem;
      }
    }
  }
  .slider-quotes {
    .col-10 {
      float: none;
      margin: 0 auto;
      text-align: center;
     }
       img {
         width: 25%;
       }
       p {
         padding-top: 2rem;
       }
       .slider-name {
         padding: 20px 0;
       }
       .slider-dot-div {
         padding-bottom: 8rem;
         .slider-dot {
           display: inline-block;
           width: 6px;
           height: 6px;
           border-radius: 50%;
           border:0.5px solid silver;
       }
     }
    }
}
