      .cls-1, .cls-2, .cls-3 {
        fill: #fff;
        &:hover {
          fill: #9f449b;
        }
      }

      .cls-1 {
        fill-opacity: 0.1;
        stroke: #fff;
        stroke-linejoin: round;
        stroke-width: 4px;
        &:hover {
          fill: #9f449b;
          fill-opacity: 0.6;
          stroke: #9f449b;
        }
      }

      .cls-1, .cls-2 {
        fill-rule: evenodd;
      }

      .cls-3 {
        font-size: 18px;
        text-anchor: middle;
        font-family: 'latoregular';
      }

      .cls-4 { //to jest ten select color
          fill: #9f449b;
          fill-opacity: 0;
          stroke: #9f449b;
          stroke-linejoin: round;
          stroke-width: 5px;
          fill-rule: evenodd;
          &:hover {
            fill: #9f449b;
            fill-opacity: 0.8;
            stroke: #9f449b;
          }
      }
