@font-face {
    font-family: 'existencelight';
    src: url('../fonts/Existence Light/existence-light.eot');
    src: url('../fonts/Existence Light/existence-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Existence Light/existence-light.woff2') format('woff2'),
         url('../fonts/Existence Light/existence-light.woff') format('woff'),
         url('../fonts/Existence Light/existence-light.ttf') format('truetype'),
         url('../fonts/Existence Light/existence-light.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titilliumlight';
    src: url('../fonts/Titillium/titillium-light-webfont.eot');
    src: url('../fonts/Titillium/titillium-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Titillium/titillium-light-webfont.woff2') format('woff2'),
         url('../fonts/Titillium/titillium-light-webfont.woff') format('woff'),
         url('../fonts/Titillium/titillium-light-webfont.ttf') format('truetype'),
         url('../fonts/Titillium/titillium-light-webfont.svg#titilliumlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/Lato/lato-regular.eot');
    src: url('../fonts/Lato/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-regular.woff2') format('woff2'),
         url('../fonts/Lato/lato-regular.woff') format('woff'),
         url('../fonts/Lato/lato-regular.ttf') format('truetype'),
         url('../fonts/Lato/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
