@mixin button() {
  background-color: $select-color;
  color: white;
  text-decoration: none;
  text-align:center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.5);
}

@mixin logo ($font-size) {
    font-size: $font-size;
    span {
      color: $select-color;
    }
}

@mixin title() {
  z-index: 0;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: $h1-font-size;
  span {
    color: $select-color;
  }
}

@mixin quote-marks($before-left, $before-top, $after-left, $after-top) {
  &:before{
    position: relative;
    content: "";
    width: 25px;
    height: 25px;
    border-bottom: 1px solid $select-color;
    border-left: 1px solid $select-color;
    display: block;
    left:$before-left;
    top: $before-top;

    }
 &:after{
    position: relative;
    content: "";
    width: 25px;
    height: 25px;
    border-top: 1px solid $select-color;
    border-right: 1px solid $select-color;
    display: block;
    left:$after-left;
    top: $after-top;
    }
}

@mixin skill-panel () {
  .panel-text {
    display: flex;
    justify-content: space-between;
    p {
      font-family: $other-font-family;
      span {
        font-weight: bolder;
      }
     }
    }
    .panel-box {
     background-color: #F0f0f0;
     height: 12px;
     font-family: $other-font-family;
   }
  }

@mixin link-hover() {
    text-decoration: none;
    &:hover {
      color: $select-color;
      //font weight!
    }
  }

 @mixin mobile-skill-panels ($html, $gd, $wd, $uiux){
    margin: 0 auto;
    flex: none;
    margin-top: 10px;
    width: 80%;
    height: 20px;
    background-color: #f0f0f0;
    text-align: left;
    .mobile-html {
      display: block;
      width: $html;
      height: 100%;
      background-color: $select-color;
    }
    .mobile-gd {
      display: block;
      width: $gd;
      background-color: $select-color;
    }
    .mobile-wd {
      display: block;
      width: $wd;
      background-color: $select-color;
    }
    .mobile-uiux {
      display: block;
      width: $uiux;
      background-color: $select-color;
    }
  }
